* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}

.slider-wrapper {
    width: 80vw;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2rem solid peru;
    overflow:hidden;
    .slider-tray {
        //width: calc(560vw - 28rem);
        background-color: red;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        transform: translate3d(0, 0, 0);
        transition: transform 1s ease;
        .slider-caption {
            flex-grow: 1;
            background: purple;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
        }
    }
}
